<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="studio.anva.characterpaper.tests"><uses-sdk android:minSdkVersion="26" android:targetSdkVersion="36"/><application android:label="Character Paper checks"><provider android:name=".FixtureProvider" android:authorities="studio.anva.characterpaper.tests.files" android:exported="true" android:grantUriPermissions="true"/></application><instrumentation android:name=".ReleaseChecks" android:targetPackage="studio.anva.characterpaper" android:label="Release checks"/></manifest>
